# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Alembic
# =========================
alembic/versions/__pycache__/
alembic.ini.bak

# =========================
# Databases
# =========================
*.db
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/
!.vscode/extensions.json

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Pytest / coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Build / distribution
# =========================
build/
dist/
*.egg-info/